@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


:root {
  --laranja: #F07E2C;
  --cinza-escuro: #444444;
  --branco-principal: #FFFFFF;
  --branco-secundario: #FFFAFA;
  --margem-lateral: 250px;
  --fonte-titulo: 'Nunito';
  --fonte-texto: 'Lato';
  --fonte-dados: 'Inter';
}

.titulo {
    width: 100%;
    height: auto;
    font-family: var(--fonte-titulo);
    color: var(--cinza-escuro);
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    margin: 2em 0;
}

.texto {
    margin: 3.5em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.elementos-descricao {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: visible;
    width: 73%;
    height: 20em;
    background-image: url(./analise-de-solo01.png);
}

.desc-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    width: 35%;
    height: 25em;
    border-radius: 0.8em;
    border-right: 0.2em solid var(--laranja);
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.60) -23.51%, #FFF 76.49%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(1em);
    top: -1.5em;
}

.desc-card p {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--cinza-escuro);
    font-family: var(--fonte-titulo);
    font-size: 1.3em;
    font-weight: 400;
    margin: 0 1em;
}

.desc-card img {
    margin: 2.5em 1.8em;
}

.elementos-desc {
    display: flex;
    justify-content: flex-end;
    overflow: visible;
    width: 73%;
    height: 20em;
    background-image: url(./analise-de-solo02.png);
}

.desc-card-agr {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    width: 35%;
    height: 115%;
    border-radius: 0.8em;
    border-right: 0.2em solid var(--laranja);
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.60) -23.51%, #FFF 76.49%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(1em);
    top: -1.5em;
}

.desc-card-agr p {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--cinza-escuro);
    font-family: var(--fonte-titulo);
    font-size: 1.3em;
    font-weight: 400;
    margin: 0 1em;
}

.desc-card-agr img {
    margin: 2.5em 1.8em;
}

.mobile-img {
    display: none;
}

@media screen and (max-width: 1024px) {

    .elementos-descricao, .elementos-desc {
        width: 90%;
    }

    .desc-card {
        width: 45%;
        height: 25em;
    }

    .mobile-img {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    .texto {
        justify-content: flex-start;
    }

    .elementos-desc {
        margin: 8%;
        height: 32em;
        width: 20em;
        background-image: url(./analise-de-solo02-mobile.png);
    }

    .elementos-descricao {
        overflow: visible;
        justify-content: flex-end;
        margin: 8%;
        height: 32em;
        width: 20em;
        background-image: url(./analise-de-solo01-mobile.png);
    }

    .desc-card {
        border-radius: 0 1em 1em 0;
        top: 0;
        left: +70%;
        height: 105%;
        width: 100%;
    }

    .elementos-descricao, .elementos-desc{
        border-radius: .8em;
    }

    .desc-card p {
        font-size: 1.5em;
    }

    .mobile-img {
        display: none;
    }

}

@media screen and (max-width: 576px) {

    .texto {
        justify-content: center;
        align-items: center;
    }

    .elementos-descricao, .elementos-desc {
        width: 90%;
        height: auto;
        background-image: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
    }

    .desc-card {
        height: 100%;
        width: 80%;
        position: initial;
        border-radius: 1em;
        border-top: 0.2em solid var(--laranja);
        border-right: none;
    }

    .desc-card p {
        font-size: 1.2em;
        margin: 0;
        padding: 1.2em;
    }

    .desc-card img {
        margin: 0;
        padding: 1.2em;
    }

    .mobile-img {
        width: 70%;
        display: block;
        border-radius: 0 0 1em 1em;
    }

    .texto {
        padding-top: 10em;
        margin-top: 0;
    }
}