@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --laranja: #F07E2C;
  --cinza-escuro: #444444;
  --branco-principal: #FFFFFF;
  --branco-secundario: #FFFAFA;
  --margem-lateral: 250px;
  --fonte-titulo: 'Nunito';
  --fonte-texto: 'Lato';
  --fonte-dados: 'Inter';
}

.cards-selos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 5rem 0;
    gap: 5rem;
}

.cards-selos h2 {
    display: flex;
    justify-content: center;
    width: auto;
    text-transform: uppercase;
    color: var(--laranja);
    font-family: var(--fonte-titulo);
    font-size: 2rem;
    font-weight: 600;
}

.cards-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    height: auto;
}

.card-space {
    gap: 21%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
    border-top: 0.15rem solid var(--laranja);
    background: linear-gradient(170deg, #FFF 7.42%, rgba(255, 255, 255, 0.58) 96.85%);
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(1rem);
    width: 22.5%;
    height: 12em;
}

.link-selos {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--laranja);
    color: var(--branco-principal);
    font-family: var(--fonte-titulo);
    padding: 0.6rem;
    border-radius: 1rem;
    width: 75%;
    text-align: center;
    transition: 0.3s;
    scale: 1;
}

.link-selos:hover {
    transition: 0.3s;
    scale: 1.1;
}

@media screen and (max-width: 992px) {
    
    .link-selos {
        text-align: center;
        font-size: 0.8rem;
        border-radius: 0.8rem;
    }

}

@media screen and (max-width: 992px) {

    .cards-selos {
        width: 100%;
    }

    .cards-div {
        width: 90%;
    }

    .card-space {
        width: 22.5%;
        height: 10rem;
    }

    .link-selos {
        font-size: 0.7rem;
    }


}