@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


:root {
  --laranja: #F07E2C;
  --cinza-escuro: #444444;
  --branco-principal: #FFFFFF;
  --branco-secundario: #FFFAFA;
  --margem-lateral: 250px;
  --fonte-titulo: 'Nunito';
  --fonte-texto: 'Lato';
  --fonte-dados: 'Inter';
}

header {
    display: flex;
    background-color: var(--laranja);
    height: 3.25rem;
    justify-content: center;
    align-items: center;
}

.navbar-tablet {
    display: none;
}

.dropdown {
    display: flex;
    width: 75%;
}


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: transparent;
    transition: 0.3s;
}

.dropdown-toggle {
    color: var(--branco-principal);
    font-family: var(--fonte-titulo);
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.3s;
    background-color: transparent;
}

.dropdown-toggle:hover {
    transition: 0.3s;
    background-color: var(--branco-principal);
    color: var(--laranja);
}

.dropdown-toggle.active {
    background-color: var(--branco-principal);
    color: var(--laranja);
}


.dropdown-menu {
    font-family: var(--fonte-texto);
    color: var(--cinza-escuro);
    text-transform: uppercase;
}

.btn:hover {
    transition: 0.3s;
    background-color: var(--branco-principal);
}

.nav-btn {
    padding: 1rem;
    color: var(--branco-principal);
    font-family: var(--fonte-titulo);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    background-color: transparent;
    transition: 0.3s;
}

.nav-btn:hover {
    color: var(--laranja);
    transition: 0.3s;
}

.cabecalho-inferior {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 0.1em solid var(--laranja);
}

.cabecalho-area {
    display: flex;
    justify-content: space-between;
    width: 75%;
    padding: 0.8rem 0;
}

.logo-cabecalho-inf {
    width: auto;
}

.cabecalho-inferior__logo {
    width: 100%;
    height: auto;
}

.cabecalho-inferior__conteudo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 65%;
    gap: 1rem;
}

.relatorios {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: transparent;
    color: var(--laranja);
}

.relatorios a {
    color: var(--laranja);
    font-family: var(--fonte-titulo);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border: 0.1rem solid var(--laranja);
    border-radius: 0.7rem;
    padding: 0.5rem;
    transition: 0.3s;
}

.relatorios a:hover {
    background-color: var(--laranja);
    color: var(--branco-principal);
    transition: 0.3s;
}

.autenticidade {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.autenticidade a:hover {
    background-color: var(--laranja);
    color: var(--branco-principal);
    transition: 0.3s;
}

.autenticidade a {
    color: var(--laranja);
    font-family: var(--fonte-titulo);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border: 0.1rem solid var(--laranja);
    border-radius: 0.7rem;
    padding: 0.5rem;
    transition: 0.3s;
}

.barra-divisor {
    width: 2px;
    height: 50px;
    background: var(--laranja);
}


.menu-tablet {
    display: none;
}

@media screen and (max-width: 1100px) {

    
}

@media screen and (max-width: 768px) { 
    
    header {
        background-color: var(--laranja);
        width: 100%;
    }

    .dropdown {
        display: none;
    }

    .cabecalho-area {
        display: none;
    }

    .menu-tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        width: 90%;
    }

    .sistema {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .sistema a {
        padding: 10px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 45px;
        border: 1px solid var(--branco-principal);
        border-radius: 8px;
        font-family: var(--fonte-titulo);
        color: var(--branco-principal);
        font-size: 15px;
        font-weight: 600;
        text-align: center;
    }

    .navbar-tablet {
        display: flex;
        width: 90%;
        height: 40px;
        justify-content: space-between;
        align-items: center;
    }

    .btn {
        color: var(--laranja);
        font-family: var(--fonte-titulo);
        text-align: center;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600;
        transition: 0.3s;
        background-color: transparent;
    }
}