@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


:root {
  --laranja: #F07E2C;
  --cinza-escuro: #444444;
  --branco-principal: #FFFFFF;
  --branco-secundario: #FFFAFA;
  --margem-lateral: 250px;
  --fonte-titulo: 'Nunito';
  --fonte-texto: 'Lato';
  --fonte-dados: 'Inter';
}

footer {
  background-color: var(--laranja);
  flex-wrap: wrap;
}

.elemento {
  flex-wrap: wrap;
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  gap: 7rem;
  background-color: var(--laranja);
}

.flex-container {
  display: flex;
  gap: 3rem;
}

.elementos__media {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  gap: 2rem;
}

.elementos__media-social {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}

.elementos__media-social img {
  width: 20rem;
  height: 5rem;
}

.matriz {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.matriz img {
  width: 2rem;
  height: 2rem;
}

.matriz p {
  font-family: var(--fonte-dados);
  color: var(--branco-principal);
  font-size: 1rem;
  font-weight: 400;
}

.ponto-de-apoio {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.ponto-de-apoio img {
  width: 2rem;
  height: 2rem;
}

.ponto-de-apoio p {
  font-family: var(--fonte-dados);
  color: var(--branco-principal);
  font-size: 1rem;
  font-weight: 400;
}

.horario-de-funcionamento {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.horario-de-funcionamento img {
  width: 1.5rem;
  height: 1.5rem;
}

.horario-de-funcionamento p {
  font-family: var(--fonte-dados);
  color: var(--branco-principal);
  font-size: 1rem;
  font-weight: 400;
}

.telefones {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.telefones img {
  width: 1.8rem;
  height: 1.8rem;
}

.telefones p {
  font-family: var(--fonte-dados);
  color: var(--branco-principal);
  font-size: 1rem;
  font-weight: 400;
}

.whatsapp {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.whatsapp img {
  width: 1.8rem;
  height: 1.8rem;
}

.whatsapp p {
  font-family: var(--fonte-dados);
  color: var(--branco-principal);
  font-size: 1rem;
  font-weight: 400;
}

.emails {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.emails img {
  width: 1.8rem;
  height: 1.8rem;
}

.emails p {
  font-family: var(--fonte-dados);
  color: var(--branco-principal);
  font-size: 1rem;
  font-weight: 400;
}

.direitos {
  width: 100%;
  background-color: var(--laranja);
  display: flex;
  justify-content: space-between;
  border-top: 0.1rem solid var(--branco-principal);
}

.direitos p {
  font-size: 0.8rem;
  font-family: var(--fonte-dados);
  color: var(--branco-principal);
  padding: 1em 0;
  margin: 0 5rem;
  text-align: center;
}

@media screen and (max-width: 992px) {

  footer {
    width: 100%;
    height: auto;
  }

  .elementos {
    flex-direction: column;
  }

}

@media screen and (max-width: 576px) {

  .flex-container {
    display: flex;
    flex-direction: column;
  }

  .direitos {
    width: 100%;
    gap: 0;
    margin: 0;
    padding: 0;
  }

  .direitos {
    width: 100%;
    background-color: var(--laranja);
    display: flex;
    justify-content: space-between;
    border-top: 0.1rem solid var(--branco-principal);
  }
  
  .direitos p {
    font-size: 0.5rem;
    font-family: var(--fonte-dados);
    color: var(--branco-principal);
    padding: 2em;
    margin: 0;
    text-align: center;
  }

}